html,
body {
  height: 100%;
  margin: 0;
}

#main {
  display: flex;
  height: 100%;
}

#some {
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

#newProjectButton {
  display: block;
}

.descriptionStyle {
  display: inline-block;
  padding-left: 20px;
}

#leftBar {
  width: 20%;
  height: 100%;
  border: 1px solid black;
}

#rightBar {
  width: 80%;
  border: 1px solid red;
}

h4 {
  font-size: 15px;
}

#createTodo {
  margin: 20px;
}

#newTodo {
  margin: 20px;
}
