html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: 15px;
  color: white;
}

h4:hover,
h3:hover {
  background-color: rgb(129, 124, 124);
  padding: 2px;
  border-radius: 10px;
}

h3 {
  font-size: 15px;
  color: white;
}

#logo {
  margin: 0;
  color: white;
  font-size: 40px;
  margin-left: 20px;
}

#navbar {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #333;
}

#main {
  display: flex;
  height: 100%;
}

#newProjectButton {
  display: block;
}

#projectContainer {
  margin: 20px;
}

#eraseBtn {
  background-color: rgb(221, 26, 26);
  width: 50px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  display: block;
  margin-left: auto;
}

#editBtn {
  background-color: rgb(211, 134, 9);
  width: 50px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  display: block;
  margin-left: 0;
}

#addBtn {
  background-color: rgb(84, 251, 62);
  width: 40px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 35px;
}

#editField {
  display: block;
}

#submitBtn {
  background-color: rgb(63, 50, 240);
  width: 40px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 35px;
}

#create {
  background-color: rgb(84, 251, 62);
  width: 100px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 35px;
}

.descriptionStyle {
  display: inline-block;
  padding-left: 20px;
}

#leftBar {
  width: 20%;
  height: 100%;
  background-color: #383d40;
}

#rightBar {
  width: 80%;
}

#createTodo {
  margin: 20px;
}

#newTodo {
  margin: 20px;
}

.completed {
  text-decoration: line-through;
}

.unfinished {
  text-decoration: none;
}

.todoID:hover {
  background-color: rgb(192, 180, 180);
  border-radius: 10px;
}

.todoID {
  display: flex;
  width: 400px;
  align-items: center;
}
